*{
		box-sizing: border-box;
		color: beige;
	}
	body{
		padding: 0;
		margin: 0;
		background-color: #222;
	}
	h1{
		/* color:#4599bb; */
		font-size: 15vh;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		padding-top:auto;		
	}
	#baner{
		/*background-color: #F5F2F0;*/
		/*background-image: linear-gradient(#E5E2E0, #D1D3DF);*/
		background-image: url(background.jpg);
		background-size: cover;

		font-family: 'Odibee Sans', cursive;
		text-align: center;
		padding: 10px;
  		height: 100vh;
		width: 100%;
	}	
	#baner > p{
		/* color: #38a; */
		font-size: 10vh;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
		filter: none;
		-webkit-filter: none;
			
	}
	#main-content{
		/* background-image: url(background.jpg); */
		font-size: 5vh;
		font-family: 'Odibee Sans', cursive;
		text-align: center;
		/* color: #004156; */
			/* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	 */
	}
	section{
		height: 100vh;
		padding-top: 5vh;
	}
	section > p{
		font-size: 1em;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-align: center;
	}
	section > h2{
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.section-left{
		float:left;
		padding:5vh;
		width:50%;
		vertical-align: middle;
	}
	.section-right{
		float:right;
		text-align: left;
		width: 50%;
		z-index: 3;
		position: relative;
		top: 0;
	}
	.section-right > p.bottom{
		position: absolute;
		top: 40vh;
		left: -2vw;
	}
	.section-image{
		height: 50vh;
		width:auto;
		transform: skew(5deg) rotateX(10deg);
		filter: drop-shadow(5px 60px 35px rgba(0, 0, 0, 0.8));
	}
	section#first{
		background-image: linear-gradient(#703F44, #6f2e55);
	}
	section#second{
		background-image: linear-gradient(#5a2a40, #3a0a23);
	}
	.widget{
		width: 50%;
		float: left;
		padding: 5%;
		height: 50%;
		max-height: 50%;
	}
	.widget-container{
	}
	@media (max-width: 500px) {
		#baner > p{
			font-size: 10vw;
		}
		h1{
			font-size: 12vw;
		}
		.section-image{
			width: 80%;
			height:auto;
		}
		img{
			width:inherit;
		}
		p.bottom{
			display: none;
		}
	}
	@media (max-width: 1200px) {
		.section-image{
			width: 100%;
			height:auto;
		}
		p.bottom{
			display: none;
		}
	}